header{
    background-color:#004175;

    font-family: "Open Sans";

    color:rgb(29, 158, 40);

    padding: 1.5rem;

    padding-left: 0.5rem;

    margin-top

    margin-left::

    margin-right::

   }
  
body{border-color: #89DEEF;}

